<div class="toc-wrapper">
    <div class="toc">
        <h4>Contents</h4>
        <ol>
            <li><a href="#introduction" class="active">Introduction</a></li>
            <li><a href="#probabilities-can-cancel">Probabilities can cancel</a></li>
            <li><a href="#phantom-copies">Multiple phantom copies</a></li>
            <li><a href="#phantom-vs-unknown">“Multiple phantom copies” and “I don’t know” are different</a></li>
            <li><a href="#double-slit">Experiment 1: the double-slit experiment</a></li>
            <li><a href="#parable-of-the-coin">Interlude: the parable of the coin</a></li>
            <li><a href="#ramsey">Experiment 2: the Ramsey experiment</a></li>
            <li><a href="#hong-ou-mandel">Experiment 3: the Hong-Ou-Mandel experiment</a></li>
            <li><a href="#cocktail-party">How to discuss QM at a cocktail party</a></li>
            <!-- <li><a href="#further-reading">Further reading</a></li> -->
        </ol>
    </div>
</div>
