<div class="toc-wrapper">
    <div class="toc">
        <h4>Contents</h4>
        <ol>
            <li><a href="#introduction" class="active">Introduction</a></li>
            <li><a href="#probabilities-can-cancel">Probabilities can cancel</a></li>
            <li><a href="#">Infinite phantom copies</a></li>
            <li><a href="#">“Multiple phantom copies” and “I don't know” are different</a></li>
            <li><a href="#">When phantom copies cancel</a></li>
            <!-- <li><a href="#">The double-slit experiment</a></li>
            <li><a href="#">The parable of the coin</a></li>
            <li><a href="#">The parable of the coin explained (the Ramsey experiment)</a></li>
            <li><a href="#">Parallels to the double slit</a></li> -->
            <li><a href="#">How to discuss QM at a cocktail party</a></li>
        </ol>
    </div>
</div>