<a href="/" class="logo">
  <svg class="logo__mark" width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
    <circle cx="14.1421" cy="4" r="3" stroke="currentColor" stroke-width="2"/>
    <path d="M27.5772 17.435C24.014 20.9982 19.1812 23 14.1421 23C9.10301 23 4.27028 20.9982 0.707092 17.435" stroke="currentColor" stroke-width="2"/>
    <rect x="8.14212" y="26" width="12" height="2" fill="currentColor"/>
    <rect x="16.1421" y="4" width="8" height="2" fill="currentColor"/>
    <rect x="13.1421" y="6" width="2" height="20" fill="currentColor"/>
    <rect x="14.7791" y="6.71111" width="2" height="16.9951" transform="rotate(-30 14.7791 6.71111)" fill="currentColor"/>
    <rect x="11.758" y="5.73665" width="2" height="17" transform="rotate(30 11.758 5.73665)" fill="currentColor"/>
  </svg>
  <span class="logo__wordmark">explainers <br> <em class="logo-secondary">.blog</em></span>
</a>
