<div class="toc-wrapper">
    <div class="toc">
        <h4>Contents</h4>
        <ol>
            <li><a href="#introduction" class="active">Introduction</a></li>
            <li><a href="#why-blue">What’s so special about blue?</a></li>
            <li><a href="#sky-violet">Why isn’t the sky violet?</a></li>
            <li><a href="#sunset-red">Why is the sunset red?</a></li>
            <li><a href="#clouds-white">Why are clouds white?</a></li>
            <li><a href="#martian-sky">Why is the sky on Mars red?</a></li>
            <li><a href="#martian-sunset">Why is the Martian sunset blue?</a></li>
            <li><a href="#model">Building a model</a></li>
            <li><a href="#scattering">Scattering: the bigger picture</a></li>
            <!-- <li><a href="#further-resources">Further Resources</a></li> -->
        </ol>
    </div>
</div>