########################################
# Node / package managers
########################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

########################################
# Environment / local
########################################
.env
.env.*.local
.DS_Store

########################################
# Eleventy build output
########################################
_site/

########################################
# Generated assets (compiled from src/scss)
########################################
src/assets/css/
_site/scss/
.figma-assets/

########################################
# Source maps (generated)
########################################
*.map


