<div id="fire-rescue" class="widget image-blend-widget">
    <div class="image-stack">
        <img class="image image--vis" src="/assets/img/sky/fire-rescue-vis.png" alt="Visible spectrum view of a smoke-filled scene">
        <img class="image image--ir" src="/assets/img/sky/fire-rescue-ir.png" alt="Infrared view of the same scene">
    </div>
    <input type="range" class="ir-opacity-slider" min="0" max="100" value="100" data-initial-value="100">
    <div class="range-labels">
        <p class="label--small">Visible spectrum</p>
        <p class="label--small">Infrared</p>
    </div>
</div>
<p class="post__figcaption">Smoke particles are in the Mie domain for visual light. Thick smoke can absorb enough light to become opaque. But in the infrared range, it’s the Rayleigh domain. There, long wavelengths mean less scattering. Less scattering means more transparency. And thus, infrared can see through smoke.</p>