<div id="rgb-adjuster-sky-blue" class="widget color-adjuster-widget">
    <div class="column">
        <p class="label">Output Color</p>
        <div class="output-color-swatch" aria-label="Output color preview"></div>
        <p class="label">Input Controls <a href="#" class="label--small flr reset-color-adjuster visually-hidden">Reset</a></p>
        <div class="color-swatch-input-controls">
            <p class="label--small">Red</p>
            <input type="range" class="red-slider" min="0" max="255" value="10" data-initial-value="10">
            <p class="label--small">Green</p>
            <input type="range" class="green-slider" min="0" max="255" value="130" data-initial-value="130">
            <p class="label--small">Blue</p>
            <input type="range" class="blue-slider" min="0" max="255" value="255" data-initial-value="255">
        </div>
    </div>
    <div class="column">
        <p class="label">Reference Image</p>
        <div class="reference-image">
            <img src="/assets/img/sky/reference-blue-sky.png" alt="Reference image of a blue sky">
        </div>
    </div>
</div>