@use "./base" as *;

/*****************************************
             DESIGN TOKENS
*****************************************/

:root {
    --font-serif: 'Newsreader', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-sans: 'Figtree', ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji';
    --content-padding: 16px;
    
    @include w700 {
        --content-padding: 45px;
    }
}



/*****************************************
                HELPERS
*****************************************/

.post-grid {
    --toc-width: minmax(260px, 310px);
    --content-width: min(100%, 790px);

    @include w700 {
        display: grid;
        grid-template-columns:
            [full-start] 1fr
            [layout-start] 0
            [content-start] var(--content-width) [content-end sidenote-start]
            var(--toc-width) [sidenote-end layout-end]
            1fr [full-end];
        align-content: start;
    }

    @include w1200 {
        grid-template-columns:
            [full-start] 1fr
            [layout-start] var(--toc-width)
            [content-start] var(--content-width) [content-end sidenote-start]
            var(--toc-width) [sidenote-end layout-end]
            1fr [full-end];
    }
}

/*****************************************
                COMPONENTS
*****************************************/

h1 {
    font-family: var(--font-serif);
}

h2, h3, h4, h5, h6 {
    font-family: var(--font-sans);
}

p, ul, ol {
    margin-bottom: 12px;
}

li {
    margin-bottom: 8px;
}

.post__figure {
    margin: 40px 0;
    
    video, img {
        display: block;
        margin: 0 auto 20px;
        border-radius: 20px;
    }

    figcaption {
        color: #424242;
        font-family: var(--font-serif);
        font-style: italic;
        font-size: 90%;
        text-align: center;
    }
}

/*****************************************
              PAGE STYLES
*****************************************/

header {
    @include big-shadow;
    
    margin-inline: 8px;
    border: 8px solid white;
    border-radius: 40px;
    background-color: #3333FF;

    @include w700 {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: layout;
    }
}

.header__text {
    padding: 24px;

    @include w700 {
        grid-column: content;
        padding: 90px var(--content-padding) 60px;
    }
}

.post-title {
    margin-bottom: 8px;
    color: white;
    font-family: var(--font-serif);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;

    @include w700 {
        font-size: 70px;
        line-height: 94%;
    }
}

.post-subtitle {
    color: #FFF;
    font-family: var(--font-sans);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 94%;
    opacity: 0.8;

    @include w700 {
        font-size: 30px;
    }
}

article {
    display: contents;
}

.nutshell {
    grid-column: content;
    margin: 0; //override p margin
    padding: 24px var(--content-padding);
    color: #424242;
    font-family: var(--font-serif);
    font-size: 20px;
    font-style: italic;
    line-height: 130%;
    letter-spacing: -0.56px;    
    opacity: 0.7;

    @include w700 {
        font-size: 28px;
        padding-block: 50px;
        border-left: 1px solid var(--border-color);
    }
}

.full-width {
    grid-column: full;
}

hr.full-width {
    height: 1px;
    background-color: var(--border-color);
    border-style: none;
}

.toc-wrapper {
    grid-column: content;
    padding: 32px var(--content-padding) 0;
    
    @include w1200 {
        grid-column: layout-start / content-start;
        padding-inline: 0;
        position: relative;
    }
}

.toc {
    font-family: var(--font-sans);
    font-size: 16px;

    @include w1200 {
        position: sticky;
        top: 20px;
        background-color: color-mix(in srgb, var(--background-color) 50%, transparent);
        backdrop-filter: blur(4px);
        z-index: 2;
    }

    h4 {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        opacity: 0.8;
        margin-bottom: 0px;
        padding-left: 40px;
    }

    ol {
        list-style-type: none;
        counter-reset: item;
        list-style: none;
        padding-left: 0;
    }

    li {
        position: relative;
        counter-increment: item;
        margin: 0;
        padding: 0;

        &::before {
            content: counter(item, upper-roman) ".";
            position: absolute;
            top: 0;
            left: 4px;
            padding-top: 6px;
            width: 40px;
            text-align: left;
            line-height: 140%;
        }
    }

    a {
        display: block;
        margin: 0;
        padding: 6px 0 6px 40px;
        color: var(--text-color);
        text-decoration: none;
        line-height: 140%;
        transition: all 0.2s ease-out;
        opacity: 0.8;

        @include w1200 {
            padding-right: 10px;
        }

        &:hover {
            color: var(--link-color);
            background-color: color-mix(in srgb, var(--link-color) 10%, transparent);
            transition: all 0.1s ease-out;
        }

        &.active {
            color: var(--link-color);
            font-weight: 500;
            opacity: 1;
        }
    }
}

.inset {
    @include big-shadow;
    
    border-radius: 40px;
    padding: 8px;

    @include w700 {
        margin: 40px 0 60px;
        padding: 32px;
    }
}


/*****************************************
         BODY TEXT-SPECIFIC STYLES
*****************************************/

.post-body {
    position: relative;
    grid-column: content;
    padding: 20px var(--content-padding) 0;
    border-left: 1px solid var(--border-color);

    @include w1200 {
        padding-top: 32px;
    }

    h2 {
        position: relative;
        margin: 120px 0 50px;
        padding-bottom: 12px;
        font-size: 50px;
        line-height: 95%;
    
        &:before {
            content: attr(data-ordinal);
            position: absolute;
            top: 0;
            right: calc(100% + 64px);
            color: transparent;
            -webkit-text-stroke: 1px var(--text-color);
            font-weight: 700;
        }
    
        &:after {
            content: '';
            position: absolute;
             left: calc(50% - 50vw);
            bottom: 0;
            display: block;
            height: 1px;
             width: 100vw;
            background-color: var(--border-color);
            transform: translateX(calc(50% - 50vw));
        }
    }

    aside {
        margin-bottom: 12px;
        border-block: 1px solid var(--border-color);
        padding-block: 20px;
        font-family: var(--font-sans);
        font-size: 14px;
        line-height: 1.3;
        
        @include w700 {
            --sidebar-width: 300px;
            --sidebar-margin-width: 60px;
            --sidebar-side-margin: 16px;

            position: relative;    
            top: -48px;        
            float: right;
            clear: right;
            margin-right: calc(-1*var(--sidebar-width) - var(--sidebar-margin-width));
            border-bottom: none;
            width: var(--sidebar-width);
            padding-top: 12px;
            font-size: 15px;
            vertical-align: baseline;
            background: var(--background-color);
            backdrop-filter: blur(8px);
            z-index: 2;

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                width: var(--sidebar-side-margin);
                height: 100%;
                background-color: var(--background-color);
            }

            &:before {left: 100%;}
            &:after {right: 100%;}
        }

        h4, p {
            margin-bottom: 6px;
            opacity: 0.9;
        }
    }
}