@use "./base" as *;
@forward "./base";

/*****************************************
             DESIGN TOKENS
*****************************************/

:root {
    --font-serif: 'Newsreader', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-sans: 'Figtree', ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji';
    --font-mono: 'PP Supply Mono', monospace;

    --content-padding: 16px;
    --margin-buster: -32px;

    --annotation-arrow-color: #999;

    overflow-x: clip;

    @include w700 {
        --content-padding: 45px;
    }

    @include w1400 {
        --sidebar-width: 305px;
    }
}



/*****************************************
                HELPERS
*****************************************/

@mixin content-width {
    width: 100%;
    max-width: 790px;
    margin-inline: auto;
    padding-inline: 16px;

    @include w900 {
        padding-inline: 45px;
    }
}

.content-width {
    @include content-width;
}

@mixin layout-width {
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 2px;

    @include w900 {
        padding-inline: 8px;
    }
}

.layout-width {
    @include layout-width;
}

@mixin slub {
    font-family: var(--font-sans);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    opacity: 0.8;
}

/*****************************************
                COMPONENTS
*****************************************/

h1 {
    font-family: var(--font-serif);
}

h2, h3, h4, h5, h6 {
    font-family: var(--font-sans);
}

p, ul, ol {
    margin-bottom: 12px;
}

li {
    margin-bottom: 8px;
}

.post__figure {
    margin: 40px 0;
    
    video, img, svg {
        display: block;
        margin: 0 auto 16px;
        border-radius: 20px;
    }
}

    figcaption,
    .caption {
        color: #424242;
        font-family: var(--font-serif);
        line-height: 130%;
        font-style: italic;
        font-size: 95%;
        text-align: center;
    }

    .image-credit {
        margin: 0;
        font-family: var(--font-sans);
        text-align: center;
        line-height: 140%;
        font-size: 13px;
        font-style: italic;
        opacity: 0.7;

        &:before {
            content: "Image: ";
        }
    }

a, a:visited {
    color: var(--link-color);
}

table {
    margin-block: 40px 50px;
    border-collapse: collapse;
    border-spacing: 0px;
    font-family: var(--font-sans);
    font-size: 16px;

    &.dense {
        @include w900 {
            margin-inline: var(--margin-buster);
        }
    }

    &.header-column {
        th:first-child,
        td:first-child {
            font-weight: 600;

            span.secondary {
                font-weight: 400;
            }
        }
    }
}

    tr {
        border-bottom: 1px solid var(--border-color);
    }

        th {
            @include slub;

            padding-bottom: 4px;
            text-align: left;

            &:not(:last-child) {
                padding-right: 8px;
            }
        }

        td {
            padding-block: 12px;
            line-height: 125%;

            &:not(:last-child) {
                padding-right: 8px;
            }
        }

.sticky-column-table-wrapper {
    @include under-w900 {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        table {
            width: 100%;
        }

        th:first-child,
        td:first-child {
            position: sticky;
            left: 0;
            background-color: var(--background-color);
            box-shadow: inset -1px 0 0 0 var(--border-color);
            z-index: 1;
        }

        th:nth-child(2),
        td:nth-child(2) {
            padding-left: 8px;
        }
    }
}

.sidenote {
    --gap: 24px;

    display: none;

    @include w1400 {
        display: block;
        font-family: var(--font-sans);
        float: right;
        clear: right;
        width: var(--sidebar-width);
        margin-right: calc(-1 * (var(--sidebar-width) + var(--gap)));
        margin-left: var(--gap);
        box-sizing: border-box;
    }
}

hr {
    height: 1px;
    background-color: var(--border-color);
    border-style: none;
}




/*****************************************
              PAGE STYLES
*****************************************/

header {
    @include big-shadow;
    
    border: 8px solid white;
    border-radius: 40px;
    background-color: #3333FF;
}

    .header__text {
        padding: 24px;
    }

        .post-title {
            margin-block: 4px 8px;
            color: white;
            font-family: var(--font-serif);
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 100%;

            @include w700 {
                margin-block: 44px 4px;
                font-size: 70px;
                line-height: 94%;
            }
        }

        .post-subtitle {
            margin-block: 0 0px;
            color: #FFF;
            font-family: var(--font-sans);
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 94%;
            opacity: 0.8;

            @include w700 {
                margin-block: 0 24px;
                font-size: 30px;
            }
        }

.nutshell {
    padding-block: 24px;
    color: #424242;
    font-family: var(--font-serif);
    font-size: 20px;
    font-style: italic;
    line-height: 135%;
    letter-spacing: -0.01em;    
    opacity: 0.75;

    @include w700 {
        font-size: 28px;
        padding-block: 50px;
        border-left: 1px solid var(--border-color);
    }

    em {
        font-style: normal;
    }
}

article {
    position: relative;
}

hr.full-width {
    height: 1px;
    background-color: var(--border-color);
    border-style: none;
}

.toc-wrapper {
    @include w1400 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(50vw - 700px);
        height: 100%;
        width: var(--sidebar-width);
    }
}

.toc {
    @include content-width;
    
    padding-top: 24px;
    border-left: 1px solid var(--border-color);
    font-family: var(--font-sans);
    font-size: 16px;

    @include w900 {
        padding-inline: 0; // override content-width
    }

    @include w1400 {
        position: sticky;
        top: 60px;
        margin-inline: 0; //override content-width
        padding-top: 8px;
        border-left: none;
        background: rgba(255, 255, 255, 0.35);
        backdrop-filter: blur(5px);
        z-index: 2;
    }

    h4 {
        @include slub;

        margin-bottom: 0px;
        padding-left: 40px;

        @include w1400 {
            padding-left: 50px;
        }
    }

    ol {
        list-style-type: none;
        counter-reset: item;
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
    }

    li {
        position: relative;
        counter-increment: item;
        margin: 0;
        padding: 0;

        &::before {
            content: counter(item, upper-roman) ".";
            position: absolute;
            top: 0;
            left: 2px;
            padding-top: 6px;
            width: 40px;
            text-align: left;
            line-height: 140%;

            @include w900 {
                left: 45px;
            }

            @include w1400 {
                left: 8px;
            }
        }
    }

    a {
        display: block;
        margin: 0;
        padding: 6px 0 6px 40px;
        color: var(--text-color);
        text-decoration: none;
        line-height: 140%;
        transition: all 0.2s ease-out;
        opacity: 0.8;

        @include w900 {
            padding-left: 80px;
        }

        @include w1200 {
            padding-right: 10px;
        }

        @include w1400 {
            padding-left: 50px;
        }

        &:hover {
            color: var(--link-color);
            background-color: color-mix(in srgb, var(--link-color) 10%, transparent);
            transition: all 0.1s ease-out;
        }

        &.active {
            color: var(--link-color);
            font-weight: 500;
            opacity: 1;
        }
    }
}

.inset {
    @include big-shadow;
    
    border-radius: 40px;
    padding: 8px;

    @include w700 {
        margin: 40px 0 60px;
        padding: 32px;
    }
}

.triple-wide {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include w900 {
        flex-direction: row;
        margin-inline: var(--margin-buster);
    }
}
    .triple-wide__item {
        flex: 1 1 33.333%;

        @include under-w900 {
            &:not(:last-child) .post__figure {
                margin-bottom: 0;
            }
        }
    }

.footnote-ref {
    @include w1400 {
        vertical-align: baseline;
        font-size: 1em;
        line-height: inherit;

        &:before {
            content: "*";
        }
        
        a {
            display: none;
        }
    }
}

.footnotes-sep {
    position: relative;
    left: calc(50% - 50vw);
    margin: 40px 0;
    width: 100vw;

    @include w1400 {
        display: none;
    }
}

.footnotes {
    margin: 40px 0;
    font-family: var(--font-sans);
    font-size: 14px;
    line-height: 1.3;

    @include w1400 {
        display: none;
    }
}


/*****************************************
         BODY TEXT-SPECIFIC STYLES
*****************************************/

.post-body {
    @include content-width;

    position: relative;
    padding-block: 20px 60px;

    @include w700 {
        border-left: 1px solid var(--border-color);
    }

    @include w1200 {
        padding-top: 32px;
    }

    h2 {
        position: relative;
        margin: 50px 0 20px;
        padding-bottom: 12px;
        font-size: 30px;
        line-height: 95%;

        @include w700 {
            margin: 60px 0 30px;
            font-size: 40px;
        }

        @include w900 {
            margin: 120px 0 50px;
            font-size: 50px;
        }
    
        &:before {
            content: attr(data-ordinal);
            position: absolute;
            top: 0;
            right: calc(100% + 64px);
            color: transparent;
            -webkit-text-stroke: 1px var(--text-color);
            font-weight: 700;
        }
    
        &:after {
            content: '';
            position: absolute;
            left: calc(50% - 50vw);
            bottom: 0;
            display: block;
            height: 1px;
            width: 100vw;
            background-color: var(--border-color);
            transform: translateX(calc(50% - 50vw));
        }
    }

    h3 {
        margin: 40px 0 20px;
        font-size: 24px;
        line-height: 95%;
        opacity: 0.8;

        @include w700 {
            margin: 60px 0 30px;
            font-size: 30px;
        }
    }

    .sidenote {
        margin-bottom: 12px;
        border-block: 1px solid var(--border-color);
        padding-block: 20px;
        font-family: var(--font-sans);
        font-size: 14px;
        line-height: 1.3;
        
        @include w700 {
            --sidebar-width: 300px;
            --sidebar-margin-width: 60px;
            --sidebar-side-margin: 16px;

            position: relative;    
            top: -48px;        
            float: right;
            clear: right;
            margin-right: calc(-1*var(--sidebar-width) - var(--sidebar-margin-width));
            border-bottom: none;
            width: var(--sidebar-width);
            padding-top: 12px;
            font-size: 15px;
            vertical-align: baseline;
            background: var(--background-color);
            backdrop-filter: blur(8px);
            z-index: 2;

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                width: var(--sidebar-side-margin);
                height: 100%;
                background-color: var(--background-color);
            }

            &:before {left: 100%;}
            &:after {right: 100%;}
        }

        h4, p {
            margin-bottom: 6px;
            opacity: 0.9;
        }
    }
}


/*****************************************
                  WIDGETS
*****************************************/

.widget {
    margin-bottom: 40px;
    padding: 30px;
    background-color: var(--widget-background-color);
    border-radius: 40px;
    border: 1px solid transparent;

    p {
        margin-bottom: 0;
    }
}

label,
.label {
    font-family: var(--font-mono);
    font-size: 15px;
    line-height: 120%;
    text-transform: uppercase;
}

.label--small {
    @extend label;

    font-size: 13px;
    opacity: 0.7;
}

@mixin centered-label {
    transform: translateX(-50%);
}